@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');
@media only screen and (max-width: 500px) {
  body {
    background-color: lightpink;
  }
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class="clothing-list"] {
    width: 100%;
  }
}
body {
  margin: 0;
  text-align: center;
  color:deeppink;
  font-family: 'Playball', cursive, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
/* img{
  height: 40%;
  width:40%;
} */
ul{
  list-style: none;
}
li{
  display:inline-block;
  padding: 30px 30px 30px 30px;
  font-size: 20px;
  text-decoration: none; 
}
.header nav a:hover{
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  align-items: center;
  border: 1px solid hotpink;
}
/* header nav a:hover {
  display: inline-block;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  padding: 1rem;
  transition: all 300ms ease;
} */

.flexbox-conatiner{
  display: flex;
  flex-direction:column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.clothing-list{
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.clothes{
  /* flex-basis: 33%; */
  display: flex;
  flex-direction:column;
  /* padding:5%; */
  /* padding: right 0;; */
  text-align: center;
}

.clothes img {
  margin: auto;
  max-height: 200px;
  max-width: 200px;
  flex-basis: 5%;
  flex-wrap:wrap;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  display:inline-flex;

}

.clothes h3,
.clothes h1{
  margin: 0;
  flex-grow: 5;
  flex-direction:column;
  text-align: center;
  flex-basis: 40%;
  align-items: stretch;
  font-size: 10px;

}
.clothes h4 {
  margin: 0;
  flex-wrap: wrap;
  flex-direction:column;
  text-align: center;
  flex-basis: 10%;
  align-items: stretch;

}
.clothes img{
  border : 3px solid plum;
}
.add-clothing{
  display:grid;
  grid-template-columns: auto;
  grid-row-start: 3;
  grid-column-start:1;
  flex-basis: auto;
  justify-content: center;
  border-radius: 100%;
  text-align: justify;
}
.add-button{
  grid-column:2;
  grid-row:3 span 2;
  align-items: center;
}


.cart {
	width: 600px;
	height: 100%;
	background-color: white;
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px 0;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	transform: translateX(-600px);
	padding: 1.5rem 3rem 2rem;
} 
