@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');
*{ box-sizing:border-box}
*:before,
*:after {
	box-sizing:inherit ;
}
body {
  margin: 0;
  text-align: center;
  color:deeppink;
  font-family: 'Playball', cursive, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

ul{
  list-style: none;
}
li{
  display:inline-block;
  padding: 30px 30px 30px 30px;
  font-size: 20px;
  text-decoration: none; 
}
.header nav a:hover{
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  align-items: center;
  border: 1px solid hotpink;
 
}
nav{
  position:sticky;
  top: 0;
  background-color:azure;
}
a{
  text-decoration: none;
}
/* header nav a:hover {
  display: inline-block;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  padding: 1rem;
  transition: all 300ms ease;
} */

.flexbox-conatiner{
  display: flex;
  flex-direction:column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.clothing-list{
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem 1rem 1rem 1rem;
}

.clothes{
  display: flex;
  flex-direction:column;
  text-align: center;
}
.rick img,
.jewelery-list img,
.electronic-list img, 
.clothes img {
  display:flex;
  margin: auto;
  max-height: 300px;
  max-width: 300px;
  flex-basis: 33%;
  flex-wrap:wrap;
  flex-direction: column;
  justify-content: space-evenly;
  justify-content: space-between;
  align-items: justify;
} 
  
  /* display:inline-flex;

.electronic-list h3,
.electronic-list h1,
.clothes h3,
.clothes h1{
  margin: 0;
  flex-grow:1;
  flex-direction:column;
  /* text-align: center; */
  /* flex-basis: 40%; */
  /* align-items: stretch; */
  /* font-size: 10px;

} */
.jewelery-list,
.electronic-list,
.clothes h4 {
  margin: 0;
  flex-wrap: wrap;
  flex-direction:column;
  text-align: center;
  flex-basis: 10%;
  /* justify-content: space-between; */
  justify-content: space-evenly;

}
.clothes,
.electronics,
.clothes{
  /* flex-wrap: wrap; */
  /* border? */
  /* justify-content: space-between; */
  /* justify-content: space-evenly; */
  padding: 1rem 1rem 1rem 1rem;
  flex-basis: 30%;
  
} 

.add-button{
  grid-column:2;
  grid-row:3 span 2;
  align-items: center;
  justify-content: space-evenly;
}
.jewelery-list,
.electronic-list,
.rick-list{
  display:flex;
  flex-direction:column;
  margin: 0;
  flex-direction:row;
  text-align: center;
  flex-basis: 10%;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-content: space-evenly;
}
@media only screen and (max-width: 500px) {
  body {
    background-color: lightpink;
  }
  .clothes,
  .electronics,
  .clothes{
    
    flex-basis: 40%;
    width:45%
  } 
}


@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class="clothing-list"] {
  
  }
}





